LTA_ACCOUNT_KEY=put_your_lta_account_key_here
PORT=3100
HOST=127.0.0.1
SMS_TO_NUMBER=+65xxxxxxxx
DASHBOARD_TOKEN=make_this_a_long_random_secret
ALLOW_SYSTEM_VOICE=false
ENABLE_HOME_SMS=false
SMS_DELIVERY=phone
ENABLE_XIAOMI_MESSAGE=false
SMS_POLL_INTERVAL_SECONDS=60
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_FROM_NUMBER=+1xxxxxxxxxx
